.featurette-icon:hover {
    transform: scale(1.2);
  }

.featurette-icon {
    font-size: 10rem;
}

// .btn {
//   font-size: 26px;
//   // margin-top: 20px;
// }


.pseudo-buttons .programs {
  text-align: center !important;
  color: #ffff;
  background-color: #0065FF;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  border-color: #0065FF;
}


.pseudo-buttons .center {
  text-align: center;
  color: #ffff;
  background-color: #606060;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  border-color: #606060;
}

.pseudo-buttons .courses {
  text-align: center;
  color: #ffff;
  background-color: #9D9D9C;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  border-color: #9D9D9C;
}


// .mt-1 {
//   color: white
// }

// .nav-item:hover {
//   background-color: blue
//   }
  
.nav-item:hover {
  color: $sta-menu-text-active;
  // background-color: transparent !important; /* Override Bootstrap. */
  opacity: 0.6;
  transition: 0.3s;
}