.featurette-icon:hover {
    transform: scale(1.2);
  }

.featurette-icon {
    font-size: 10rem;
}

// .btn {
//   font-size: 26px;
//   // margin-top: 20px;
// }


.pseudo-buttons .programs {
  text-align: center !important;
  color: #ffff;
  background-color: #0066ff80;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  border-color: #0066ff80;
}

.pseudo-buttons .center {
  text-align: center;
  color: #ffff;
  background-color: #606060bf;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  border-color: #606060bf;
}

.pseudo-buttons .courses {
  text-align: center;
  color: #ffff;
  background-color: #9d9d9c84;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  border-color: #9d9d9c84;
}

 .a:hover {
  color: #ff9b00
}

// .mt-1 {
//   color: white
// }

// .nav-item:hover {
//   background-color: blue
//   }


.nav-item:hover {
  color: $sta-menu-text-active;
  // background-color: transparent !important; /* Override Bootstrap. */
  opacity: 0.6;
  transition: color 0.3s ease;
}


// .nav-item {
//   color: white;
// }

// .nav-item:hover {
//   color: #ff9b00;
//   transition: color 0.6s ease;
//   text-decoration: underline;
//   text-decoration-color: #ff9b00;
// }

// .nav-item:active {
//   color: #ff9b00; 
// }